

.btn-offcanvas {
	z-index: 1;
	margin: 0 2rem;
	width: 50px;
	height: 50px;
	background-color: transparent;
	border: 1px solid $dark;
	padding: 3px 6px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	transition: all .2s linear;
	.line {
		height: 2px;
		width: 100%;
		background-color: $dark;
    transition: all .2s linear;
	}
  &:hover {
		border-color: $primary;
    .line {
			background-color: $primary;
      &:nth-child(1) {
        margin-right: 6px;
      }
      &:nth-child(2) {
        margin-left: 3px;
      }
      &:nth-child(3) {
        margin-right: 6px;
      }
    }
  }
}

.link-more {
	color: white;
	font-size: 0.875rem;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-decoration: none;
	display: block;
	position: relative;
	width: auto;
	padding-left: 37px;
	transition: all .2s linear;
	float: left;
	font-size: 1.125rem;
	&::before {
		content: "";
		width: 27px;
		height: 1px;
		background-color: #fff;
		position: absolute;
		top: 50%;
		left: 0;
		transition: all .2s linear;
	}
	&::after {
		content: "";
		width: 100px;
		background-color: #fff;
		height: 1px;
		position: absolute;
		top: 50%;
		left: 111%;
		transition: all .2s linear;
	}
	&:hover {
		padding-left: 100px;
		&::before {
			width: 80px;
			background-color: $primary ;
		}
		&::after {
			width: 37px;
			background-color: $primary ;
		}
	}
	&.black {
		color: $dark;
		&::after {
			background-color: $dark;
		}
		&::before {
			background-color: $dark;
		}
	}
	&.primary {
		&::after {
			background-color: $primary;
		}
		&::before {
			background-color: $primary;
		}
		&:hover {
			&::after {
				background-color: white;
			}
			&::before {
				background-color: white;
			}
		}
	}
}
.btn {
	&.btn-submit {
		border: 1px solid $primary;
		background-color: $primary;
		color: black;
		border-radius: 0;
		font-size: 1.125rem;
		text-transform: uppercase;
		padding: .75rem 3rem;
		padding-top: .75rem;
		padding-bottom: .75rem;
		padding-left: 3rem;
		padding-right: 3rem;
		transform-origin: center;
		transition: all .3s linear;
		&:hover {
			padding-left: 4rem;
			padding-right: 4rem;
		}
	}
}


/*RWD*/
//1720
@media only screen and (min-width: $x2){

}
//1400
@media only screen and (max-width: $xxl){

}

//1200px
@media only screen and (max-width: $xl){

}
//992px
@media only screen and (max-width: $lg){


}
//768px
@media only screen and (max-width: $md){

}
//576px
@media only screen and (max-width: $sm){
	.link-more {
		font-size: 1rem;
	}
}
